


.full-width-img-container
{
	padding: 0px;
}

.full-width-img
{
	width: 100%;
}

.main-content-container
{
	padding-top: 6em;
	padding-bottom: 6em;
	background-color: white;
}

#copyright-footer
{
	text-align: center;
	color: gray;
	margin-bottom: 3em;
}

#contact-container
{
	font-size: 1.5em;
}
