
body
{
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
}

.row
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.full-width-img-container
{
	padding: 0px;
	width: 100%;
}

.full-width-img
{
	width: 100%;
}

.main-content-container
{
	padding-top: 4em;
	padding-bottom: 6em;
	background-color: white;
}

#copyright-footer
{
	text-align: center;
	color: gray;
	margin-bottom: 3em;
}

.big-text
{
	font-size: 1.5em;
}

.huge-text
{
	font-size: 5em;
}

.nowrap
{
	white-space: nowrap;
}

#google-map
{
	width: 100%;
	height: 100%;
}

#contact-container
{
	font-size: 1.5em;
}

.inline-header
{
	display: inline;
}



.contact-header
{
}

/*Home page */
#text-header-row
{
	margin-bottom: 3em;
}

#map
{
	height: 20em;
}



/*Services page*/

.product-container 
{
	font-size: 1.4em;
}

#waxing-table
{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#waxing-table td
{
	padding-right: .5em;
	padding-left: .5em;
	padding-top: .3em;
	padding-bottom: .3em;
	
}


.header-container
{
	margin-top: 5em;
}



#services-satin-smooth-logo
{
	margin-top: 7em;
	margin-bottom: 3em;
}


/*Nav*/
nav li
{
	margin-left: 2em;
	margin-right: 2em;
}

.navbar-fb-link
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px !important;
}

.navbar-fb-logo
{
	max-height: 30px !important;
}











