
body
{
	padding-top: 50px;
}

.row
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.full-width-img-container
{
	padding: 0px;
	width: 100%;
}

.full-width-img
{
	width: 100%;
}

.main-content-container
{
	padding-top: 4em;
	padding-bottom: 6em;
	background-color: white;
}

#copyright-footer
{
	text-align: center;
	color: gray;
	margin-bottom: 3em;
}

.big-text
{
	font-size: 1.5em;
}

.huge-text
{
	font-size: 5em;
}

#google-map
{
	width: 100%;
	height: 100%;
}

#contact-container
{
	font-size: 1.5em;
}

.inline-header
{
	display: inline;
}



.contact-header
{
	margin-bottom: 4em;
}

/*Home page */
#text-header-row
{
	margin-bottom: 3em;
}

#map
{
	height: 20em;
}



/*Services page*/

.product-container 
{
	font-size: 1.4em;
}

#waxing-table td
{
	padding-right: .5em;
	padding-left: .5em;
	padding-top: .3em;
	padding-bottom: .3em;
}


.header-container
{
	margin-top: 5em;
}

#eyelash-tint-spacer
{
	height: 18em;
}



/*Nav*/
nav li
{
	margin-left: 2em;
	margin-right: 2em;
}













