
body
{
	padding-top: 50px;
}

.row
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.full-width-img-container
{
	padding: 0px;
}

.full-width-img
{
	width: 100%;
}

.main-content-container
{
	padding-top: 6em;
	padding-bottom: 6em;
	background-color: white;
}

#copyright-footer
{
	text-align: center;
	color: gray;
	margin-bottom: 3em;
}

.big-text
{
	font-size: 1.5em;
}

.huge-text
{
	font-size: 2em;
}

#google-map
{
	width: 100%;
	height: 100%;
}

#contact-container
{
	font-size: 1.5em;
}

.inline-header
{
	display: inline;
}







